.container
  %h1 Users
  .row
    - @users.each do |user|
      .col.s12.m6
        .card.blue-grey.darken-1
          .card-content.white-text
            %span.card-title
              =user.first_name
            %p
              I'm a #{user.first_name} #{user.infix} #{user.last_name}! My email is #{user.email}. My address is #{user.address}.
          .card-action
            %a= link_to 'Show', user
            %a= link_to 'Edit', edit_user_path(user)
            %a= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
  %br/

  = link_to 'New user', new_user_path, class: "waves-effect waves-light btn"