= form_for(subscription) do |f|
  - if subscription.errors.any?
    #error_explanation
      %h2
        = pluralize(subscription.errors.count, "error")
        prohibited this subscription from being saved:
      %ul
        - subscription.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :product_id
    = f.text_field :product_id
  .field
    = f.label :provider_id
    = f.text_field :provider_id
  %button.waves-effect.waves-light.btn-large
    = f.submit
