<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subscription.name %>
</p>

<p>
  <strong>Product:</strong>
  <%= @subscription.product %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @subscription.provider %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
