%nav
  .nav-wrapper
    %a.brand-logo.center{:href => "/"} LemonadeStand
    %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
      %i.material-icons menu

    %ul.left.hide-on-med-and-down
      %li
        %a{:href => "/products"} Products

    %ul#mobile-demo.side-nav
      %li
        %a{:href => "/products"} Products

    %ul.right
      %li
        =link_to cart_path, :class => 'navbar-link' do
          %i.material-icons shopping_cart

    - if user_signed_in?
      %ul.right
        %li
          %a.dropdown-button{"data-activates" => "dropdown-account", :href => "#!"}
            %i.material-icons.left account_circle
            = current_user.email

    - else
      %ul.right
        %li= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
        %li= link_to "Login", new_user_session_path, :class => 'navbar-link'



%ul#dropdown-account.dropdown-content
  %li= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link'
  %li= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'
