%nav
  .nav-wrapper
    %a.brand-logo{:href => "#!"} Logo
    %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
      %i.material-icons menu
    %ul.right.hide-on-med-and-down
      %li
        %a{:href => "/products"} Products
      - if user_signed_in?
        %li
          %a
            = current_user.email
        %li
          = link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'
        %li
          = link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link'
      - else
        %li
          = link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
        %li
          = link_to "Login", new_user_session_path, :class => 'navbar-link'

    %ul#mobile-demo.side-nav

      - if user_signed_in?
        %li
          %a
            = current_user.email
          = link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'
          = link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link'
      - else
        %li
          = link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
          = link_to "Login", new_user_session_path, :class => 'navbar-link'
      %li
        %div.divider
      %li
        %a{:href => "/products"} Products